* {
  font-family: 'Agdasima', sans-serif;
}
body{
    background: rgb(14, 125, 145);
}

nav {
  display: inline-flex;
  z-index: 99;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  background-color: inherit;
  font-size: 3vh;
  display: block;
  padding: 12px;
  text-align: center;
  transition: all 0.3s ease;
}

nav ul li a:hover,  
nav ul li.active a {
  color: aqua;
}

.menu-bar {
  display: flex;
  margin-left: 0%;
}

.menu-bar a span {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.menu-bar li:hover a, 
.menu-bar li.active a {
  transform: translateY(-5px);
  font-size: 25px;
}

.menu-bar li:hover a span, 
.menu-bar li.active a span {
  height: 18px;
}

a {
  color: white;
  font-size: 3vh;
  text-decoration: none;
} 

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .container {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content:flex-start;
    max-width: 1600px;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    max-height: 10vh;
    margin-top: 2%;
  }

  .container1 {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    max-height: 10vh;
    margin-top: 2%;
  }

  .ARIA {
    text-decoration: none;
    color: aqua;
    margin-left:  0%;
    margin-top: 0;
  }

  .ARIA h5 {
    font-size: 50px;
    color: aqua;
  }

  .ARIA h2 {
    font-size: 5vh;
    font-style: normal;
  }


  #ARIA2 {
    width: 100%;
    height: 18vh;
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
  }

  .tagline {
    margin-left: -4.8%;
    margin-top: 3%;
    color: white;
  }
}

::selection{
  color: #fff;
  background: #61dcf8;
}
.wrapper{
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.add-box, .icon, .bottom-content, 
.popup, header, .settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box{
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon{
  height: 78px;
  width: 78px;
  color: rgb(14, 125, 145);;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed rgb(14, 125, 145);;
}
.add-box p{
  color: rgb(14, 125, 145);;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
}
.note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details{
  max-height: 165px;
  overflow-y: auto;
  color: rgb(14, 125, 145);
}
.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #2e6160;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.note p{
  font-size: 22px;
  font-weight: 600;
}
.note span{
  display: block;
  color: rgb(97, 209, 226);
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content{
  padding-top: 10px;
  border-top: 1px solid #14ffeb;
}
.bottom-content span{
  color: rgb(14, 125, 145);;
  font-size: 14px;
}
.bottom-content .settings{
  position: relative;
}
.bottom-content .settings i{
  color: aqua;
  cursor: pointer;
  font-size: 15px;
}
.settings .menu{
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 0;
  background: rgb(14, 125, 145);
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.settings.show .menu{
  transform: scale(1);
}
.settings .menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
  background: rgb(14, 125, 145);
  color: aqua;
}
.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: #f5f5f5;
}
.menu li i{
  padding-right: 8px;
}

.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.popup-box .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}
.popup-box, .popup{
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
  opacity: 1;
  pointer-events: auto;
}
.popup-box.show .popup{
  transform: translate(-50%, -50%) scale(1);
}
.popup .content{
  border-radius: 5px;
  background: rgb(14, 125, 145);
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.content header{
  border-bottom: 1px solid aqua;
  color: white;
  justify-content: space-around;
}
.content header p{
  font-size: 20px;
  font-weight: 600;
  width: 50%;
}
.content header i{
  color: white;
  cursor: pointer;
  font-size: 30px;
  margin-left: 10%;
}
.content header i:hover{
  color: aqua;
}
.content form{
  margin: 20px 25px 35px;
  color: white;
}
.content form .row{
  margin-bottom: 20px;
}
form .row label{
  font-size: 20px;
  display: block;
  margin-bottom: 6px;
}
form :where(input, textarea){
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #999;
  color: rgb(14, 125, 145);
}
form :where(input, textarea):focus{
  box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
form .row textarea{
  height: 150px;
  resize: none;
}
form button{
  width: 100%;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  background: aqua;;
}

@media (max-width: 660px){
  .wrapper{
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .wrapper .add-box,
  .wrapper .note  {
    max-height: 120px;
  }

  .note p{
    font-size: 22px;
    font-weight: 600;
    margin-top: 0;
  }
  .note span{
    display: block;
    color: rgb(97, 209, 226);
    font-size: 16px;
    margin-top: 5px;
  }
  .popup-box .popup{
    max-width: calc(100% - 15px);
    margin-top: 10%;
  }
  .bottom-content .settings i{
    font-size: 17px;
  }

  .content header{
    width: inherit;
    margin-left: 2.3%;
    border-bottom: 1px solid aqua;
    color: white;
    justify-content: space-around;
  }

  .content form{
    margin: 80px 25px 35px;
    color: white;
  }

  .add-box .icon{
    height: 56px;
    width: 56px;
    color: rgb(14, 125, 145);;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
    border: 2px dashed rgb(14, 125, 145);;
  }

  .settings .menu {
    display: block;
    align-items: center;
    width: 100px;
  }

  .settings.show .menu{
    position: absolute;
    transform: translateY(-14%);
  }

  .settings .menu li {
    justify-content: center;
    height: 40px;
    padding: 0;
    border-bottom: solid 1px white;
    border-radius: 5px;
  }


  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  
    .container1 {
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      justify-content: space-around;
      max-width: 1600px;
      padding-left: 8px;
      padding-right: 8px;
      align-items: center;
      max-height: 10vh;
      margin-top: 2%;
    }

    .ARIA {
      text-decoration: none;
      color: aqua;
      margin-left:  -35%;
      margin-top: 18%;
    }

    .ARIA h2 {
      font-size: 5vh;
      font-style: normal;
    }

    .tagline {
      color: white;
      margin-top: 15%;
      margin-left: -70%;
    }

    #ARIA2 {
      width: 40%;
      height: 12vh;
      position: relative;
      margin-top: 10%;
      margin-left: 5%;
    }
    
    .ARIA h5 {
      display: none;
    }

  }

  .menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 98;
    transition: all 0.4s;
  }

  
  nav {
    z-index: 99;
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.342);
  }

  ul {
    list-style-type: none;
    display: flex ;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  
  ul li {
    text-align: center;
    width: 100%;
    align-items: center;
  }
  
  nav ul li a {
    background-color: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 4px 4px 2px;
  }

  nav ul li:hover a,
  nav ul li.active a {
    color: rgb(14, 125, 145);
  }

  .menu-bar a span {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    font-size: 15px;
  }

  .menu-bar li:hover a, 
  .menu-bar li.active a {
    transform: translateY(-5px);
    font-size: 18px;
  }

  .braindump {
    margin-top: 25%;
  }
}